@page
@model PrivacyModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <h5>Para ter acesso a página de cadastro, é necessário inserir o caminho AddOrEdit no campo da url. Ex: /Clients/AddOrEdit</h5>
    <p>Mais sobre o projeto <a href="https://github.com/edsondearaujo/Desafio_OCTO">Avaliação de Proficiência Tecnológica / Negócios da Octo Tecnologia.</a>.</p>
</div>
